.hideTitleChange{
	display: none;
}
.titleChangeForm{
	display: none;
}
.descriptionUpdateForm{
		display: none;
}
.hideYearChange{
	display: none;
}
.yearChangeForm{
	display: none;
}
