.rating{
	display: inline-block;
	background: #999;
}
.ratings{
	display: none;
}
.hideRatings{
	display: none;
}
.rating_bg{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: black;
}
