<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>RockFest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
	<taglib>
		<taglib-uri>video</taglib-uri>
		<taglib-location>/WEB-INF/tld/video.tld</taglib-location>
	</taglib>
  </jsp-config>
  <session-config>
		<session-timeout>30</session-timeout>
   </session-config>
   <error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/RockFest/jsp/serviceError/runtimeError.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/RockFest/jsp/serviceError/pageNotFound.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/RockFest/jsp/serviceError/internalError.jsp</location>
	</error-page>
	<error-page>
		<location>/RockFest/jsp/serviceError/pageNotFound.jsp</location>
	</error-page>
</web-app>